
#lang {
  display: inline-block;
  width: auto; 
}

.navbar-img {
  height: 50px;
  padding: 5px 15px;
}

@media (max-width: 768px) {
  .img-thumbnail {
    margin-bottom: 10px;
  }
  .navbar-fixed-bottom {
    bottom: -50px;
  }
  .navbar-fixed-bottom div.navbar-collapse.in {
    padding-bottom: 50px;
    transition: padding-bottom 0.5s ease-out;
  }
}

